# ==================== BOT ====================
BOT_TOKEN=8336086903:AAEi06LC1KljcDKNjLMkOb-BQs2PaVIzFhI

# Super admin Telegram ID lari (vergul bilan ajratiladi)
SUPER_ADMIN_IDS=8763280176, 1250986034, 7588801749

# ==================== KINO KANALI ====================
# Kinolar saqlanadigan Telegram kanal ID si (masalan: -1001234567890)
MOVIE_CHANNEL_ID=-1003091855896


# ==================== DATABASE ====================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ai_bot_db
DB_USER=ai_bot_db
DB_PASS=ai_bot_db

# Full URL (avtomatik quriladi, lekin manual ham bersa bo'ladi)
# DATABASE_URL=postgresql+asyncpg://kinobot_user:strong_password_here@localhost:5432/kinobot

# ==================== REDIS ====================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
# REDIS_URL=redis://localhost:6379/0

# ==================== BOT SOZLAMALARI ====================
# Default til: uz | ru | en
DEFAULT_LANGUAGE=uz

# Throttling: bir daqiqada maksimal so'rovlar soni
THROTTLE_RATE=10

# Bot webhook yoki polling rejimi: polling | webhook
BOT_MODE=polling

# Webhook uchun (faqat BOT_MODE=webhook bo'lsa)
WEBHOOK_HOST=https://ai-bot.pdev.uz
WEBHOOK_PATH=/webhook
WEBHOOK_PORT=8080